p {
  font-family: 'Courier New', Courier, monospace;
color: brown;
font-size: 36px;
background-color: purple;

}

h1{
  background-color: aqua;
  margin: 2px;
}

.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}


