html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#p5 {
  /*position: absolute;*/
  width: 100px;
  height: 100px;
  right: 200px;
  padding: 30px 20px;

  }

h1{
  font-family:'Lora', serif;
  font-weight: 400;
  color: #dfcc9d;
  font-size: 100px;
  margin: 0px;
  top: 50px;
  left: 720px;
  width:500px;
  text-align:left;
  /*padding: 0px 100px 100px 800px;*/
  position: absolute;
  }

  /* .design{
    font-family:'Lora', serif;
    color: #dfcc9d;
    text-align: left;
    /*position: absolute;
    } */

h2{
  font-size: 20px;
  font-weight: 400;
  color: #dfcc9d;
  width:500px;
  position: absolute;
  top: 380px;
  left: 720px;
}


p1{
  font-size: 20px;
  font-weight: 400;
  color: #dfcc9d;
  width:400px;
  position: absolute;
  top: 440px;
  left: 720px;
  }

  p2{
    font-size: 20px;
    font-weight: 760;
    color: #dfcc9d;
    width:400px;
    position: absolute;
    top: 590px;
    left: 720px;
  
    }

  .linkinfo{
    color: #dfcc9d;
    display: inline-block;
    border: 2px solid #dfcc9d;
    border-radius: 15px 50px 30px;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: absolute;
    top: 650px;
    left: 720px;
    width: 1000px:
    cursor: pointer;
  }
  
  

canvas {
  display: block;
  margin: 2px; 
}


